{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block navbar %}
<div class="navbar-default navbar" role="navigation">
	<div class="container">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="sr-only">links toggle button</span>
		        <span class="mdl-color--white white icon-bar"></span>
		        <span class="mdl-color--white white icon-bar"></span>
		        <span class="mdl-color--white icon-bar"></span>
		    </button>
		    <a href="{{ url_for('index') }}"><span class="navbar-brand">{% if current_user.is_anonymous %}Squire{% else %}Welcome, {{ current_user.username }}!{% endif %}</span></a>
		</div>
		<div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav" style="float: right;">
		    	{% if current_user.is_anonymous %}
		        <li><a href="{{ url_for('login') }}">Login</a></li>
		        <li><a href="{{ url_for('register') }}">Register</a></li>
		        {% else %}
		        <li><a href="{{ url_for('tasks') }}">Tasks</a></li>
		        <li><a href="{{ url_for('logout') }}">Logout</a></li>
		        {% endif %}
		    </ul>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
	{% block app_content %}{% endblock %}
</div>
{% endblock %}
