{% extends "base.html" %}

{% block app_content %}

<canvas id="chart" width="600" height="400"></canvas><script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
<script>
   // bar chart data
   var barData = {
   labels : [{% for item in labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }
 
   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");
 
   steps = 10

   data = [{% for item in values %}
                      {{item}},
                    {% endfor %}];
  
   max = Math.max(...data)+50
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });
 
</script>

{% for weight in weights %}

<p>{{ weight.value }} | {{ weight.timestamp }} | <a href="{{ url_for('delete_weight', weight_id=weight.id) }}">Delete weight</a></p> 

{% endfor %}

<p><a href="{{ url_for('add_weight') }}">Add weight</a></p>

<p>Total weight change: {{ weightChange }}</p>

{% endblock %}

