{% extends "base.html" %}

{% block head %}
	{{ super() }}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet"/>
    <style>
body {
    background-image: url({{ url_for('static', filename='img/pattern.jpg') }});
}
</style>
{% endblock %}

{% block app_content %}
<div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="profile-img-card" src="{{ url_for('static', filename='img/squire.svg.png')}}" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method="POST" action="/login">
                <span id="reauth-email" class="reauth-email"></span>
                {{ form.hidden_tag() }}
                {{ form.username(class_="form-control", placeholder="Username")}}
                {{ form.password(class_="form-control", placeholder="Password")}}
                <div id="remember" class="text-center checkbox">
                    <label>
                        {{ form.remember_me }} Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                <a href="{{ url_for('register') }}" class="btn btn-lg btn-secondary btn-block btn-signin">Register</a>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password? (not implemented yet)
            </a>
        </div><!-- /card-container -->
{% endblock %}
