{% extends "base.html" %}

{% block app_content %}
<div class="row">
	<div class="col">
		<div id="accordion" class="searchable">
			{% for task in tasks %}
			{% include '_task.html' %}
			{% endfor %}
		</div>
	</div>
</div>
<div class="row" style="padding-top:40px;">
	<div class="col" id="scrollToLocation">
		<div class="collapse searchable" id="stashed_accordion">
			<h4 class="text-center" id="stash">Stash</h4>
			{% for task in stashed_tasks %}
			{% include '_task.html' %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

{% block bottom_nav %}
<nav class="navbar header-bottom fixed-bottom navbar-expand navbar-dark bg-dark">
	<input id="filterinput" class="filterform form-control w-25" type="text"/ placeholder="Search tasks...">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bottom-bar">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="bottom-bar">
		<ul class="navbar-nav ml-auto" id="bottomnav">
			<li>
				<a class="fas fa-plus deco-none" style="color:white;" href="{{ url_for('new_task') }}"></a>
			</li>
			<li>
				<a class="fas fa-chevron-circle-down" style="color:white;" data-toggle="collapse" data-target="#stashed_accordion" aria-controls="stashed_accordion" aria-expanded="false" aria-label="Toggle stashed" id="view_stashed"></a>
			</li>
		</ul>
	</div>
</nav>
{% endblock %}