{% extends "base.html" %}

{% block app_content %}
<div class="row">
	<div class="col">
		<div class="card" style="position:relative">
			<div class="card-body">
				<h5 class="card-title">
					{% if action == 'Create' %}
					New Task
					{% elif action == 'Edit' %}
					Edit Task
					{% endif %}
				</h5>
				<div class="card-text">
					<form method="POST">
					{{ form.hidden_tag() }}
					<div class="form-group row">
						{{ form.title.label(class_="col-sm-2 col-form-label")}}
						<div class="col-sm-10">
							{% if action == 'Edit' and task.title %}
								{{ form.title(class_="form-control", value=task.title) }}
							{% else %}
							{{ form.title(class_="form-control") }}
							{% endif %}
						</div>
					</div>
					<div class="form-group row collapse {% if action == 'Edit' %}show{% endif %}" id="collapseTaskForm">
						{{ form.notes.label(class_="col-sm-2 col-form-label")}}
						<div class="col-sm-4">
							{% if action == 'Edit' and task.notes %}
								{{ form.notes(class_="form-control", value=task.notes) }}
							{% else %}
							{{ form.notes(class_="form-control") }}
							{% endif %}
						</div>
						<div class="col-sm-6">
							<div class="form-group row">
								{{ form.deadline.label(class_="col-sm-2 col-form-label")}}
								<div class="col-sm-4">
									{{ form.deadline(class_="form-control datepick") }}
								</div>
							</div>
							<div class="form-group row">
								{{ form.start_time.label(class_="col-sm-2 col-form-label")}}
								<div class="col-sm-10">
									{{ form.start_time(class_="form-control datepick") }}
								</div>
							</div>
							<div class="form-group row">
								{{ form.end_time.label(class_="col-sm-2 col-form-label")}}
								<div class="col-sm-10">
									{{ form.end_time(class_="form-control datepick") }}
								</div>
							</div>
						</div>
					</div>
					<div class="form-group row justify-content-center">
						<div class="col-sm-2">
					    	<input type="submit" class="btn btn-primary btn-block"></input>
				    		<input class="btn btn-link btn-block" data-toggle="collapse" data-target="#collapseTaskForm" value="Details"></input>
				    		{% if action=='Edit' %}
				    		<button class="btn btn-link btn-block" href="{{ url_for('tasks') }}">Cancel</button>
				    		{% endif %}
				    	</div>
				    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<div id="accordion">
	  	{% for task in tasks %}
	    	{% include '_task.html' %}
	    {% endfor %}
		</div>
	</div>
</div>
	
{% endblock %}