{% extends "base.html" %}

{% block app_content %}
<div class="card">
	<div class="card-body">
	<form method="POST">
		{{ form.hidden_tag() }}
		<div class="form-group row">
			{{ form.value.label(class_="col-sm-2 col-form-label")}}
			<div class="col-sm-10">
				{% for error in form.value.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				{{ form.value(class_="form-control") }}
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class="col-sm-2">
				<input type="submit" class="btn btn-primary btn-block"></input>
			</div>
		</div>
	</form>
	<a class="btn btn-link btn-block" href="{{ url_for('tasks') }}">Cancel</a>
</div>
</div>
{% endblock %}